<h1>Welcome to the KSP API Documentation Wiki</h1>

<p>This site contains user generated documentation of the kerbal space program API.</p>
<p>Click on Classes above to view the documentation</p>

<h2>Contributing</h2>
<p>Anyone can edit this documentation.
To edit the comment attached to an element simply click on the comment box and make your edits</p>
<p>You can use basic html in the comments (it will be sanitized by angular's sanitizer)</p>
<p>Then <em>PRESS SAVE</em> at the bottom of the page to save them.</p>

<p>The structure of the documentation is created by reflection on the KSP assembly.
The comments come from users with an initial population from the comments in the 
<a href="https://github.com/Anatid/XML-Documentation-for-the-KSP-API#how-to-contribute-to-this-documentation">
project created by The_Duck/Anatid.</a></p>

<h3>Errors</h3>
<p>If there are errors in the documentation then please correct them yourself</p>

<p>Errors in the reflected bits or requests for new featuers can be reported at
<ul>
	<li>The SP forums:insert link to KSP forum thread here</li>
	<li>at GitHub: <a href="https://github.com/Anatid/XML-Documentation-for-the-KSP-API/issues">Open Issues</a></li>
</ul>