<h1>Welcome to the KSP API Documentation Wiki</h1>

<p>This site contains user generated documentation of the kerbal space program API.</p>
<p>Click on Classes above to view the documentation</p>

<h2>Contributing</h2>
<p>Anyone can edit this documentation.
To edit the comment attached to an element simply click on the comment box and make your edits</p>
<p>You can use basic html in the comments (it will be sanitized by angular's sanitizer).
The editor also supports most of the <a href="https://msdn.microsoft.com/en-us/library/5ast78ax.aspx">
standard microsoft</a> documentation tags</p>
<p>Links are supported using both with &ltsee cref= (for class links) and with HTML &lt;a&gt; links. 
To link to a method within a class use a link of the form 
<a href="#/classes/Part?scrollTo=ActivatesEvenIfDisconnectedF">
&lt;a href="#/classes/Part?scrollTo=ActivatesEvenIfDisconnectedF"&gt;</a> where Part is the name of the class,
ActivatesEvenIfDisconnected is the name of the member in that class to show and F is one of F, P, M, C, N
indicating of the linked member is a field, property, method, constructor or an nested inner type.</p>
<p>Once you are finished editing <em>PRESS SAVE</em> at the bottom of the page to save your changes.</p>



<p>The structure of the documentation is created by reflection on the KSP assembly.
The comments come from users with an initial population from the comments in the 
<a href="https://github.com/Anatid/XML-Documentation-for-the-KSP-API#how-to-contribute-to-this-documentation">
project created by The_Duck/Anatid.</a></p>

<h3>Errors</h3>
<p>If there are errors in the documentation then please correct them yourself</p>

<p>Errors in the reflected bits or requests for new features can be reported at
<ul>
	<li>The SP forums:<a href="http://forum.kerbalspaceprogram.com/index.php?/topic/137476-new-ksp-api-documentation/&page=1">KSP Forum Thread</a></li>
	<li>at GitHub: <a href="https://github.com/Anatid/XML-Documentation-for-the-KSP-API/issues">Open Issues</a></li>
</ul>