<div click-to-edit="mergedClass.comment"></div>
<br>
<div ng-if="mergedClass.attributes">
	<div class="attribute" ng-repeat="att in mergedClass.attributes">{{att}}<br></div>
</div>
			
<span ng-repeat="mod in mergedClass.classModifiers">{{mod}} </span>
{{mergedClass.objectType|objectType:classList}}
<b>{{mergedClass.name.replace("+",".")}}</b>
<span ng-repeat="extend in mergedClass.extensions">{{$first?":":""}}
<span ng-bind-html="extend|classLinkFilter:classList"></span>{{$last?"":", "}} 
</span>

<div ng-if='mergedClass.objectType.typeName=="enum"'>
	<h3>Enum values</h3>
	<table>
	<tr ng-repeat="enumValue in mergedClass.enumConsts">
		<td class="memberName">{{enumValue.name}}</td>
		<td>{{enumValue.enumValue?"="+enumValue.enumValue:""}}</td>
		<td><div click-to-edit="enumValue.comment"></div></td>
	</tr>
	</table>
</div>

<div ng-if='mergedClass.objectType.typeName=="class" || mergedClass.objectType.typeName=="interface" || mergedClass.objectType.typeName=="struct"'>
	<div ng-if="mergedClass.staticFields.length>0">
	<h3>Static fields</h3>
	<table>
	<tr ng-repeat="field in mergedClass.staticFields| filter:{inheritedFrom:'!'}" ng-class="{orphaned: field.isOrphaned}">
			<td class ="modifiers"><span ng-repeat="mod in field.modifiers">{{mod}} </span></td>
			<td class="type"><span ng-bind-html="field.objectType|objectType:classList"></span></td>
			<td class="memberName">
				<div ng-if="field.attributes">
				<div class="attribute" ng-repeat="att in field.attributes">{{att}}<br></div></div>
				{{field.name}} {{field.assignment?" = "+field.assignment:""}}
			<div click-to-edit="field.comment"></div></td>
	</table>
	Inherited static fields
	<span ng-repeat='method in mergedClass.staticFields| filter:{inheritedFrom:""}' >
		<span ng-bind-html="method|inhertitedFilter:'F':classList"></span>
	</span>
	</div>
	
	<div ng-if="mergedClass.instanceFields.length>0">
	<h3>Instance fields</h3>
	<table>
	<tr ng-repeat="field in mergedClass.instanceFields| filter:{inheritedFrom:'!'}" ng-class="{orphaned: field.isOrphaned}">
			<td class ="modifiers"><span class ="modifiers" ng-repeat="mod in field.modifiers">{{mod}} </span></td>
			<td class="type"><span ng-bind-html="field.objectType|objectType:classList"></span></td>
			<td id='{{field.name}}F' class="memberName">
				<div ng-if="field.attributes">
				<div class="attribute" ng-repeat="att in field.attributes">{{att}}<br></div></div>
				{{field.name}} {{field.assignment?field.assignment:""}}
			<div click-to-edit="field.comment"></div></td>
	</table>
	Inherited fields
	<span ng-repeat='method in mergedClass.instanceFields| filter:{inheritedFrom:""}' >
		<span ng-bind-html="method|inhertitedFilter:'F':classList"></span>
	</span>
	</div>

	<div ng-if="mergedClass.staticProperties.length>0">
	<h3>Static Properties</h3>
	<table>
	<tr ng-repeat="prop in mergedClass.staticProperties| filter:{inheritedFrom:'!'}" ng-class="{orphaned: field.isOrphaned}">
			<td class ="modifiers"><span ng-repeat="mod in prop.modifiers">{{mod}} </span></td>
			<td class="type"><span ng-bind-html="prop.objectType|objectType:classList"></span></td>
			<td id='{{prop.name}}P' class="memberName">
				<div ng-if="prop.attributes">
				<div class="attribute" ng-repeat="att in prop.attributes">{{att}}<br></div></div>
				{{prop.name}} {&nbsp;{{prop.getter?"get;":""}}&nbsp;{{prop.setter?"set;":""}}&nbsp;}
			<div click-to-edit="prop.comment"></div></td>
	</tr>
	</table>
	Inherited static properties
	<span ng-repeat='method in mergedClass.staticProperties| filter:{inheritedFrom:""}' >
		<span ng-bind-html="method|inhertitedFilter:'P':classList"></span>
	</span>
	</div>
	</div>

	<div ng-if="mergedClass.instanceProperties.length>0">
	<h3>Instance Properties</h3>
	<table>
		<tr ng-repeat="prop in mergedClass.instanceProperties| filter:{inheritedFrom:'!'}" ng-class="{orphaned: field.isOrphaned}">
			<td class="modifiers"><span ng-repeat="mod in prop.modifiers">{{mod}} </span></td>
			<td class="type"><span ng-bind-html="prop.objectType|objectType:classList"></span></td>
			<td id='{{prop.name}}P' class="memberName">
				<div ng-if="prop.attributes">
				<div class="attribute" ng-repeat="att in prop.attributes">{{att}}<br></div></div>
				{{prop.name}} {&nbsp;{{prop.getter?"get;":""}}&nbsp;{{prop.setter?"set;":""}}&nbsp;}
			<div click-to-edit="prop.comment"></div></td>
		</tr>
	</table>
	Inherited properties
	<span ng-repeat='method in mergedClass.instanceProperties| filter:{inheritedFrom:""}' >
		<span ng-bind-html="method|inhertitedFilter:'P':classList"></span>
	</span>
	</div>
	
	<h3>Constructors</h3>
	<table>
	<tr ng-repeat="method in mergedClass.constructors" ng-class="{orphaned: method.isOrphaned}">
			<td class ="modifiers"><span ng-repeat="mod in method.modifiers">{{mod}} </span></td>
			<td id='{{method.name}}C'>
				<div ng-if="method.attributes">
				<div class="attribute" ng-repeat="att in method.attributes">{{att}}<br></div></div>
				{{method.name=mergedClass.name.replace("+",".");""}}<span class="memberName" ng-bind-html="method|methodFilter:classList"></span>
			<div click-to-edit="method.comment"></div></td>
	</tr>
	</table>
	
	<div ng-if="mergedClass.staticMethods.length>0">
	<h3>Static Methods</h3>
	<table>
	<tr ng-repeat="method in mergedClass.staticMethods| filter:{inheritedFrom:'!'}" ng-class="{orphaned: field.isOrphaned}">
			<td class ="modifiers"><span ng-repeat="mod in method.modifiers">{{mod}} </span></td>
			<td class="type"><span ng-bind-html="method.objectType|objectType:classList"></span></td>
			<td id='{{method.name}}M'>
				<div ng-if="method.attributes">
				<div class="attribute" ng-repeat="att in method.attributes">{{att}}<br></div></div>
				<span class="memberName" ng-bind-html="method|methodFilter:classList"></span>
			<div click-to-edit="method.comment"></div></td>
	</tr>
	</table>
	Inherited static methods
	<span ng-repeat='method in mergedClass.staticMethods| filter:{inheritedFrom:""}' >
		<span ng-bind-html="method|inhertitedFilter:'M':classList"></span>
	</span>
	</div>

	<div ng-if="mergedClass.instanceMethods.length>0">
	<h3>Instance Methods</h3>
	<table>
		<tr ng-repeat='method in mergedClass.instanceMethods| filter:{inheritedFrom:"!"}' ng-class="{orphaned: field.isOrphaned}">
			<td class ="modifiers"><span ng-repeat="mod in method.modifiers">{{mod}} </span></td>
			<td class="type"><span ng-bind-html="method.objectType|objectType:classList"></span></td>
			<td id='{{method.name}}M'>
				<div ng-if="method.attributes">
				<div class="attribute" ng-repeat="att in method.attributes">{{att}}<br></div></div>
				<span class="memberName" ng-bind-html="method|methodFilter:classList"></span>
			<div click-to-edit="method.comment"></div></td>
		</tr>
	</table>
	Inherited methods
	<span ng-repeat='method in mergedClass.instanceMethods| filter:{inheritedFrom:""}' >
		<span ng-bind-html="method|inhertitedFilter:'M':classList"></span>
	</span>
	</div>
	<br>
</div>
<div id="foo"></div>
	
	<div ng-if="mergedClass.nested.length>0">
		<h3>Nested types</h3>
		<div ng-repeat='mergedClass in mergedClass.nested'>
				
			<h3  id='{{mergedClass.name.split("+").pop()}}N'>{{mergedClass.name.replace("+",".")}}</h3>
			<div ng-include="'partials/classView.html'"></div>
		</div>
	</div>
</div>