<div layout="row" class="content">
	<md-sidenav class="md-sidenav-left col-md-3 col-sm-3" md-is-locked-open='true'>
		<div ng-controller="classListCtrl" class="content">
			<div class="row" class="content">
				<div class="col-sm-6">
					<!--Sidebar content -->
		
					Search: <input ng-model="query">
		
				</div>
				<div class="col-sm-6">
					<select ng-model="subsetOp" ng-init='subsetOp="ALL"'>
						<option value="ALL">All</option>
						<option value="DOCUMENTED">documented</option>
						<option value="ORPHANED">orphaned</option>
					</select>
				</div>
			</div>
			<div class="classList">
			<ul class="classList">
				{{prev.ns=""}}
				<li class="classList" ng-repeat="class in classes | filter:query | subset:subsetOp">
					<span ng-if="!(class.namespace==null || prev.ns.startsWith(class.namespace))"><i>{{class.namespace}}</i><br></span>
					{{prev.ns=class.namespace;""}}
					<a ui-sref='.details.class({"classname":class.className})'>
					<span ng-bind-html="class.className|indenter"></span></a></li>
			</ul>
			</div>
		</div>
	</md-sidenav>

	<md-content class="content col-md-9 col-sm-9"">
	<div class="content" ui-view>Pick a class to view its content</div>
	</md-content>
</div>