
<div click-to-edit="mergedClass.comment"></div>
<br>
<span ng-repeat="mod in mergedClass.classModifiers">{{mod}} </span>
{{mergedClass.objectType|objectType}}
{{mergedClass.name}}:
<span ng-repeat="extend in mergedClass.extensions"><span ng-bind-html="extend|classLinkFilter"></span>, </span>

<div ng-if='mergedClass.objectType.typeName=="enum"'>
	<h3>Enum values</h3>
	<div ng-repeat="enumValue in mergedClass.enumConsts">
		<div click-to-edit="enumValue.comment"></div>
		{{enumValue.name}}{{enumValue.enumValue?"="+enumValue.enumValue:""}}
	</div>
</div>

<div ng-if='mergedClass.objectType.typeName=="class" || mergedClass.objectType.typeName=="interface" || mergedClass.objectType.typeName=="struct"'>
	<div ng-if="mergedClass.staticFields.length>0">
	<h3>Static fields</h3>
	<table>
	<tr ng-repeat="field in mergedClass.staticFields| filter:{inheritedFrom:'!'}" ng-class="{orphaned: field.isOrphaned}">
			<td class ="modifiers"><span ng-repeat="mod in field.modifiers">{{mod}} </span></td>
			<td class="type"><span ng-bind-html="field.objectType|objectType"></span></td>
			<td class="memberName">{{field.name}} {{field.assignment?" = "+field.assignment:""}}</td>
			<td><div click-to-edit="field.comment"></div></td>
	</table>
	</div>
	
	<div ng-if="mergedClass.instanceFields.length>0">
	<h3>Instance fields</h3>
	<table>
	<tr ng-repeat="field in mergedClass.instanceFields| filter:{inheritedFrom:'!'}" ng-class="{orphaned: field.isOrphaned}">
			<td class ="modifiers"><span class ="modifiers" ng-repeat="mod in field.modifiers">{{mod}} </span></td>
			<td class="type"><span ng-bind-html="field.objectType|objectType"></span></td>
			<td class="memberName">{{field.name}} {{field.assignment?field.assignment:""}}</td>
			<td><div click-to-edit="field.comment"></div></td>
	</table>
	Inherited fields
	<span ng-repeat='method in mergedClass.instanceFields| filter:{inheritedFrom:""}' >
		<span ng-bind-html="method|inhertitedFilter"></span>
	</span>
	</div>

	<div ng-if="mergedClass.staticProperties.length>0">
	<h3>Static Properties</h3>
	<table>
	<tr ng-repeat="prop in mergedClass.staticProperties| filter:{inheritedFrom:'!'}" ng-class="{orphaned: field.isOrphaned}">
			<td class ="modifiers"><span ng-repeat="mod in prop.modifiers">{{mod}} </span></td>
			<td class="type"><span ng-bind-html="prop.objectType|objectType"></span></td>
			<td class="memberName">{{prop.name}}<br>{&nbsp;{{prop.getter?"get;":""}}&nbsp;{{prop.setter?"set;":""}}&nbsp;}</td>
			<td><div click-to-edit="prop.comment"></div></td>
	</tr>
	</table>
	</div>

	<div ng-if="mergedClass.instanceProperties.length>0">
	<h3>Instance Properties</h3>
	<table>
		<tr ng-repeat="prop in mergedClass.instanceProperties| filter:{inheritedFrom:'!'}" ng-class="{orphaned: field.isOrphaned}">
			<td class="modifiers"><span ng-repeat="mod in prop.modifiers">{{mod}} </span></td>
			<td class="type"><span ng-bind-html="prop.objectType|objectType"></span></td>
			<td class="memberName">{{prop.name}}<br>{&nbsp;{{prop.getter?"get;":""}}&nbsp;{{prop.setter?"set;":""}}&nbsp;}</td>
			<td><div click-to-edit="prop.comment"></div></td>
		</tr>
	</table>
	Inherited properties
	<span ng-repeat='method in mergedClass.instanceProperties| filter:{inheritedFrom:""}' >
		<span ng-bind-html="method|inhertitedFilter"></span>
	</span>
	</div>
	
	<h3>Constructors</h3>
	<table>
	<tr ng-repeat="method in mergedClass.constructors" ng-class="{orphaned: field.isOrphaned}">
			<td class ="modifiers"><span ng-repeat="mod in method.modifiers">{{mod}} </span></td>
			<td class="memberName">{{mergedClass.name}}(<span ng-repeat="param in method.parameters"><span ng-bind-html="param.objectType|objectType"></span>&nbsp;{{param.name}}{{$last?"":", "}}</span>)</td>
			<td><div click-to-edit="prop.comment"></div></td>
	</tr>
	</table>
	
	<div ng-if="mergedClass.staticMethods.length>0">
	<h3>Static Methods</h3>
	<table>
	<tr ng-repeat="method in mergedClass.staticMethods| filter:{inheritedFrom:'!'}" ng-class="{orphaned: field.isOrphaned}">
			<td class ="modifiers"><span ng-repeat="mod in method.modifiers">{{mod}} </span></td>
			<td class="type"><span ng-bind-html="method.objectType|objectType"></span></td>
			<td class="memberName">{{method.name}}(<span ng-repeat="param in method.parameters"><span ng-bind-html="param.objectType|objectType"></span>&nbsp;{{param.name}}{{$last?"":", "}}</span>)</td>
			<td><div click-to-edit="prop.comment"></div></td>
	</tr>
	</table>
	Inherited static methods
	<span ng-repeat='method in mergedClass.staticMethods| filter:{inheritedFrom:""}' >
		<span ng-bind-html="method|inhertitedFilter"></span>
	</span>
	</div>

	<div ng-if="mergedClass.instanceMethods.length>0">
	<h3>Instance Methods</h3>
	<table>
		<tr ng-repeat='method in mergedClass.instanceMethods| filter:{inheritedFrom:"!"}' ng-class="{orphaned: field.isOrphaned}">
			<td class ="modifiers"><span ng-repeat="mod in method.modifiers">{{mod}} </span></td>
			<td class="type"><span ng-bind-html="method.objectType|objectType"></span></td>
			<td class="memberName">{{method.name}}(<span ng-repeat="param in method.parameters"><span ng-bind-html="param.objectType|objectType"></span>&nbsp;{{param.name}}{{$last?"":", "}}</span>)</td>
			<td><div click-to-edit="prop.comment"></div></td>
		</tr>
	</table>
	Inherited methods
	<span ng-repeat='method in mergedClass.instanceMethods| filter:{inheritedFrom:""}' >
		<span ng-bind-html="method|inhertitedFilter"></span>
	</span>
	</div>
	<br>
	Nested types
	<div ng-if="mergedClass.nested">
		<div ng-repeat='mergedClass in mergedClass.nested'>
			<h3>{{mergedClass.name}}</h3>
			<div ng-include="'partials/classView.html'"></div>
		</div>
	</div>
</div>